@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-front{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 150px 0px 150px;
}

.list{
    display: flex;
    list-style: none;
}

.manu_bar{
    display: flex;
}

div > ul >  li{
    margin-right: 70px;
}

div > ul >  li > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}




.content{
    display: flex;
    margin: 150px 150px 0px 150px;
    height: 460px;
    justify-content: space-between;
}

.hadding{
    font-size: 65px;
}

.info{
    font-size: 22px;
}

.pic{
    display: flex;
    justify-content: end;
}

.some_text{
    margin-top: 200px;
}

.some_text > h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.some_text > p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}



.card_desing{}

.card{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin: 60px 150px 150px 150px;
    gap: 20px;
}

.card_desing > img {
    width: 100%;
}

.card_desing{
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
}

.price{
    font-weight: bolder;
}

.card_desing > button{
    border: none;
    padding: 15px 137px;
    text-align: center;
    font-size: 16px;
    background-color: #E95A08;
    color: white;
}