@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-front{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header section*/

/* navbar section */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 150px 0px 150px;
}
.logo{

}
.manu_bar{
    display: flex;
}
.list-1{
    display: flex;
    margin-left: 50px;
}
.card-btn{
    border: none;
    padding:19px 70px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    color: black;
}
.manu_bar > ul >  li{
    margin-right: 0px;
    list-style: none;
}
.manu_bar > ul >  li > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 70px;
}

/* content section */

.content{
    display: flex;
    margin: 150px 150px 0px 150px;
    height: 460px;
    justify-content: space-between;
}
.text{

}
.hadding{
    font-size: 65px;
}
.info{
    font-size: 22px;
}
.hero_flower_pic{
    display: flex;
    justify-content: end;
}


/* main section */

/* product  section */

/* plants about section */

.plants_about{
    margin-top: 200px;
}
.plants_title{

}
.plants_about > h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
.plants_des{

}
.plants_about > p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
}

/* card section */

.card{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    margin: 60px 150px 150px 150px;
    gap: 20px;
}
.card_desing{
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
}
.card_desing > img {
    width: 100%;
}
.price{
    font-weight: bolder;
}
.card_desing > button{
    border: none;
    padding: 15px 137px;
    text-align: center;
    font-size: 16px;
    background-color: #E95A08;
    color: white;
}


/* Plants_Lover_Section */

.Plants_Lover_Section{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px 150px 150px ;
}
.flower_store{
    position: relative;
}
.sticker > img{
    position: absolute;
    width: 15vw;
    top: 2530px;
    left: 530px;
}
.flower_store > img{
    width: 100%;
}
.list-2{
    display: inline;
    margin-left: 50px;
}
.list-2 > p{
    font-size: 50px;
    font-weight: bolder;
}
.list-2 > ul > li {
    font-size: 22px;
}

/* Latest_Section */

.Latest_Section{
    margin-top: 200px;
}
.Latest-title{

}
.Latest_Section > h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: black;
}
.Latest-des{

}
.Latest_Section > p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 22px;
    color: black;
}


/* Trusted_Plant_Lover_Badge */

.Trusted_Plant_Lover_Badge{
    display: flex;
    justify-content: space-between;
    margin: 150px 150px 10px 150px;
}
.a-desi > a{
    text-decoration: underline;
    color: white;
}


.colam-1{
    
}
.row-1 {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 19px;
}
.flower-img{
    filter: brightness(0.5);
    border-radius: 21px;
}
.Plants_Lover_text_for_C1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
}
.row-2 {
  position: relative;
  text-align: center;
  color: white;
}


.colam-2 {
  position: relative;
  text-align: center;
  color: white;
}
.Plants_Lover_text_for_C2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
}

.C2_text{
    font-size: 38px;
}

/* Join_Section */

.Join_Section{
    width: 100%;
    margin: 150px 0px 150px 0px;
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 19px;
}
.join_section_text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
}
#join_section_text{
    font-size: 50px;
}
.Join_Section > img {
    width: 100%;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
input[type="email"]{
    height: 50px;
    width: 70%;
    padding: 10px 20px;
    border: #56565f;
    background-color: whitesmoke;
    font-size: 15px;
}
.btn{
    border: none;
    padding:26px 70px;
    text-align: center;
    font-size: 16px;
    background-color: #E95A08;
    color: white;
}

/* footer */

footer{
    margin: 50px 150px 100px 150px;
    display: flex;
    justify-content: space-between;
}
.logo-info > p{
    font-size: 22px;
}
div > ul >  li > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.manu > ul > li{
    list-style: none;
    margin-bottom: 35px;
}
.manu > ul > li > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 100px;
}
.social-midea > a > img{
    margin-right: 35px;
}


/* responsive midea quary */

@media screen and (max-width: 430px) {
    .list-1{
        display: none;
    }
    .navbar{
        margin: 10px;
    }
    .card-btn{
        padding: 10px;
    }
    .content{
        flex-direction: column;
        margin: 10px;
    }
    .hero_flower_pic > img{
        width: 100vw;
    }
    .hadding{
    font-size: 24px;
    }
    .info{
    font-size: 14px;
    }
    .plants_about > h1{
    font-size: 24px;
    }
    .plants_about > p{
    font-size: 14px;
    }
    .plants_about{
    margin-top: 50px;
    }
    .card{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin: 10px;
    gap: 20px;
    }
    .card_desing{
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    }
    .card_desing > img {
    }
    .price{
    font-weight: bolder;
    }
    .card_desing > button{
    border: none;
    padding:10px 60px;
    font-size: 10px;
    }
    .Plants_Lover_Section{
    flex-direction: column;
    margin: 10px;
    }
    .flower_store > img{
    width: 100%;
    }
    .list-2{
    display: inline;
    margin-left: 0px;
    }
    .list-2 > p{
    font-size: 24px;
    }
    .list-2 > ul > li {
    font-size: 14px;
    }
    .Latest_Section{
    margin-top: 50px;
    }
    .Latest-title{

    }
    .Latest_Section > h1{
    font-size: 24px;
    }
    .Latest_Section > p{
    font-size: 14px;
    }

    .Trusted_Plant_Lover_Badge{
        flex-direction: column;
        margin: 10px;
    }

    .colam-2 > img{
        width: 84vw;
        height: auto;
        margin-top: 18px;
    }
    .C2_text{
    font-size: 18px;
    }
    .Plants_Lover_text_for_C2 {
    font-size: 17px;
    }   
    .Join_Section{
    width: 100%;
    margin: 0px;
    margin-bottom: 19px;
    margin-top: 50px;
    }
    .join_section_text_box {
  font-size: 13px;
    }
    #join_section_text{
    font-size: 18px;
    }
    .Join_Section > img {
    width: 90vw;
    height: 40vh;
    }
    .email{
    width: 80vw;
    }
    .btn{
    padding:27px 20px;
    }
    
footer{
    margin: 10px;
    flex-direction: column;
}
.logo-info > p{
    font-size: 16px;
}
.manu > ul > li{
    margin-bottom: 35px;
}
.manu > ul > li > a{
    margin-bottom: 100px;
}
.social-midea > a > img{
    margin-right: 20px;
}
.manu > ul {
    padding-left: 0px;
}
.card-7{
    display: none;
}
.card-8{
    display: none;
}
.sticker{
    display: none;
}
}